<div class="mt-5 pt-5">
  <div class="container">
    <table class="table table-condensed table-striped table-sm">
      <thead>
        <tr>
          <th><button class="btn btn-link" (click)="staticModal.show()">Add</button></th>
          <th class="text-center">Type</th>
          <th class="text-center">Date</th>
          <th>Active</th>
        </tr>
        <tr>
          <th><button class="btn btn-sm btn-default" (click)="clearFilter()">Clear</button></th>
          <th class="text-center">
            <!-- <input type="text" class="form-control-sm" name="dateTypeId" [(ngModel)]="userParams.dateTypeId" (keyup)="filterTable()"> -->
            <app-devicedatetype-select [deviceId]="0" [showNoValue]=true  (selectedOption)="selectDateType($event)"></app-devicedatetype-select>
          </th>
          <th class="text-center">
            <input type="text" class="form-control-sm text-right" #dateFilter
            name="dateValue" 
            (value)="userParams.dateValue" 
            bsDatepicker 
            placement="top"
            (bsValueChange)="onValueChange($event)"
            [bsConfig]="{containerClass: 'theme-dark-blue'}"></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of list; let i = index">
          <td colspan="4">
          <!-- <td></td>
          <td>{{ item.dateTypeName }} <input type="text" class="form-control-sm" name="dateTypeName" [id]="'dateTypeName' + i" value="{{ item.dateTypeName }}"></td>
          <td>{{ item.dateValue | date:'MM/dd/yyyy' }} <input type="text" class="form-control-sm" name="dateValue" value="{{ item.dateValue | date:'MM/dd/yyyy' }}"></td> -->
            <app-devicedate-editable-row [deviceDate]="item" (recordDeleted)="filterTable()"></app-devicedate-editable-row>
          </td>
        </tr>
        <tr *ngIf="list?.length == 0"><td colspan="4">No Records</td></tr>
      </tbody>
    </table>
  </div>
</div>

<div class="modal fade" bsModal #staticModal="bs-modal" [config]="{backdrop: 'static'}"
     tabindex="-1" role="dialog" aria-labelledby="dialog-static-name">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 id="dialog-static-name" class="modal-title pull-left">Add Device Date</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="staticModal.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <app-devicedate-add [deviceId]="deviceId" (closeModal)="modalClosed();staticModal.hide()"></app-devicedate-add>
      </div>
    </div>
  </div>
</div>