<div class="container-fluid" *ngIf="!editStatus">
  <div class="row">
    <div class="col-lg-2"><button class="btn btn-link" (click)="onEdit($event)">Edit</button>
    <div class="col-lg-4">
        {{ deviceDate.dateTypeName }}</div>
    <div class="col-lg-4">
        {{ deviceDate.dateValue | date:'MM/dd/yyyy' }}
    </div>
    <div class="col-lg-2"></div>
  </div>
</div>
<div class="container-fluid" *ngIf="!editStatus">
    <div class="row" >
        <div class="col-lg-2"><button class="btn btn-link" (click)="onEdit($event)">Cancel</button>
        <div class="col-lg-4">
          <input type="text" [(ngModel)]="deviceDate.dateTypeName" class="form-control-sm">
        </div>
        <div class="col-lg-4">
          <!-- <input type="text" [ngModel]="deviceDate.dateValue | date:'MM/dd/yyyy'" (ngModelChange)="deviceDate.dateValue=$event" class="form-control-sm"> -->
          <input type="text" bsDatepicker [(ngModel)]="deviceDateDate" class="form-control-sm">
        <div class="col-lg-2"></div>
      </div>
</div>