<div class="container-fluid" style="border: 1px solid blue;">
  <div class="row">
    <div class="col-sm-2"><button class="btn btn-link" (click)="this.editState = !this.editState">{{ editState ? 'Cancel' : 'Edit' }}</button></div>
    <div class="col-sm-4">
      <span [hidden]="editState">{{ deviceDate.dateTypeName }}</span>
      <span [hidden]="!editState"><input type="text" [(ngModel)]="deviceDate.dateTypeName" class="form-control-sm"></span>
    </div>
    <div class="col-sm-4">
        <span [hidden]="editState">{{ deviceDate.dateValue | date:'MM/dd/yyyy' }}</span>
        <span [hidden]="!editState"><input type="text" bsDatepicker [(ngModel)]="deviceDateDate" class="form-control-sm"></span>
    </div>
    <div class="col-sm-2">1</div>
  </div>
</div>
