<div class="mt-5 pt-5">
  <h2 class="text-center">{{ pageLabel }}</h2>
    <div class="container" style="width:60%;">
      <table class="table table-condensed table-striped table-sm">
        <thead>
          <tr>
            <th scope="col" class="w-20"><button class="btn btn-link" [routerLink]="['/' + pageRoute + '/edit/0']" >Add</button></th>
            <th>Name</th>
            <th>Type</th>
            <th>Manufacturer</th>
            <th>Model</th>
            <th>Capacity</th>
            <th>Devices</th>
            <th></th>
          </tr>
          <tr>
            <th class="w-20"><button class="btn btn-sm btn-default" (click)="clearFilter()">Clear</button></th>
            <th scope="col"><input type="text" size="30" name="partnumber" class="form-control-sm" [(ngModel)]="filter.partNum" (keyup)="filterTable()" placeholder="Filter Table"></th>
            <th scope="col"><app-producttype [showNoValue]=true [selectedProductType]="filter.productTypeId" (selectOption)="filterByType($event)"></app-producttype></th>
            <th scope="col"><app-manufacturer-select [showNoValue]=true [selectedManufacturer]="filter.productManufacturerId" (selectOption)="filterByManufacturer($event)"></app-manufacturer-select></th>
            <th scope="col"><app-productmodel-select [showNoValue]=true [selectedProductTypeId]="filter.productTypeId" [selectedManufacturerId]="filter.productManufacturerId" [selectedModelId]="filter.productModelId" (selectedOption)="filterByModel($event)"></app-productmodel-select></th>
            <th scope="col"><app-productcapacity-select [showNoValue]=true [showDistinctValues]=true [selectedProductTypeId]="filter.productTypeId" [selectedManufacturerId]="filter.productManufacturerId" [selectedModelId]="filter.productModelId" [selectedCapacityName]="filter.productCapacityName" (selectedOption)="filterByCapacity($event)"></app-productcapacity-select></th>
            <th scope="col"></th>
            <th scope="col" class="w-20">
              <div class="row">
                <div class="btn-group">
                  <button class="btn btn-primary btn-sm" [(ngModel)]="status" btnRadio="Active" (click)="filterTable()">Active</button>
                  <button class="btn btn-primary" [(ngModel)]="status" btnRadio="Inactive" (click)="filterTable()">Inactive</button>
                  <button class="btn btn-primary" [(ngModel)]="status" btnRadio="All" (click)="filterTable()">All</button>
                </div>
              </div>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let el of list">
            <th scope="row"><i class="fa fa-trash" (click)="deactivateElement(el.id)" 
              [ngClass]="{'invisible':el.active != true, 'badge badge-warning':el.deviceCount > 0}"
              tooltip="{{(el.deviceCount > 0) ? 'You shouldn\'t delete a ' + elementLabel + ' with devices.': 'Delete this ' + elementLabel }}" container="" placement=""><span></span></i></th>
            <td><a [routerLink]="['/' + pageRoute + '/edit/', el.id]">{{ el.partNum }}</a></td>
            <td><a [routerLink]="['/producttypes']" [queryParams]="{productTypeName: el.productTypeName}" >{{ el.productTypeName }}</a></td>
            <td><a [routerLink]="['/manufacturers']" [queryParams]="{manufacturerName: el.productManufacturerName}" >{{ el.productManufacturerName }}</a></td>
            <td><a [routerLink]="['/productmodels']" [queryParams]="{name: el.productModelName}">{{ el.productModelName }}</a></td>
            <td class="text-right"><a [routerLink]="['/productcapacities']" [queryParams]="{name: el.productCapacityName}" >{{ el.productCapacityName}}</a></td>
            <td class="text-right pr-3">{{ el.deviceCount }}</td>
            <td class="text-center"><i [ngClass]="(el.active == true)?'fa fa-check':''"></i></td>
          </tr>
          <tr *ngIf="list.length == 0">
              <td colspan="8" class="text-center">No Records</td>
            </tr>
        </tbody>
      </table>
    </div>
</div>

<div class="d-flex justify-content-center">
    <pagination [boundaryLinks]="true"
      [totalItems]="pagination.totalItems"
      [itemsPerPage]="pagination.itemsPerPage"
      [(ngModel)]="pagination.currentPage"
      (pageChanged)="pageChanged($event)"
      [maxSize]=10
      previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;">
    </pagination>
  </div>

