<div class="container mt-5">
  <div class="row">
    <h2>{{ this.userName }}</h2>
  </div>
  <div class="col-8">
    <form #editForm="ngForm" id="editForm" (ngSubmit)="updateUser()">
      <div class="row mb-1">
        <label>Id:</label>
        <label>{{ user.id }}</label>
      </div>
      <div class="row mb-1">
        <div class="col-4"><label for="login">Login</label></div>
        <div class="col-4"><input type="text" class="form-control ml-2" name="login" [(ngModel)]="user.login"></div>
      </div>
      <div class="row mb-1">
        <div class="col-4"><label for="firstName">First Name</label></div>
        <div class="col-4"><input type="text" class="form-control ml-2" name="firstName" [(ngModel)]="user.firstName"></div>
      </div>
      <div class="row mb-1">
        <div class="col-4"><label for="lastName">Last Name</label></div>
        <div class="col-4"><input type="text" class="form-control ml-2" name="lastName" [(ngModel)]="user.lastName"></div>
      </div>
      <div class="row">
        <div class="col-4"><label for="accessLevel">Access Level</label></div>
        <div class="col-4"><input type="text" class="form-control ml-2" name="accessLevel" [(ngModel)]="user.accessLevel"></div>
      </div>
      <div class="row">
        <button class="btn btn-success" form="editForm" [disabled]="!editForm.dirty">Update</button>
        <button class="btn btn-danger" (click)="$event.stopPropagation()" (click)="deactivateUser(user.id)">Delete</button>
        <button class="btn btn-default" (click)="$event.stopPropagation()" (click)="returnToList()">Return to List</button>
      </div>
    </form> 
  </div>
</div>
<p>{{ user | json }}</p>