<div class="text-center mt-5 pt-5">
  <h2>Departments</h2>
    <div class="container">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Id</th>
            <th>Name <input type="text" name="filter" [(ngModel)]="filter" (keyup)="filterTable()" placeholder="Filter Table"></th>
            <th>Active</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let d of departments">
            <td><a [routerLink]="['/departments/edit/', d.id]">{{ d.id }}</a></td>
            <td>{{ d.name }}</td>
            <td><i [ngClass]="(d.active == true)?'fa fa-check':''"></i></td>
          </tr>
        </tbody>
      </table>
      <!-- <div class="row">
        <div class="col">
          <label for="filter">Filter List</label>
          <input type="text" name="filter" [(ngModel)]="filter" (keyup)="filterTable()" placeholder="Filter Table">
        </div>
      </div> -->
    </div>
</div>

<div class="d-flex justify-content-center">
    <pagination [boundaryLinks]="true"
      [totalItems]="pagination.totalItems"
      [itemsPerPage]="pagination.itemsPerPage"
      [(ngModel)]="pagination.currentPage"
      (pageChanged)="pageChanged($event)"
      previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;">
    </pagination>
  </div>